

<div>
  <h1 class="text-lg font-bold">About</h1>
  <p class="text-xs"><span highlight>Lorem ipsum</span> dolor sit amet consectetur adipisicing elit. Corrupti recusandae impedit soluta distinctio rem vitae sunt. Sit veniam, debitis dignissimos ipsum natus officia facere quisquam voluptatem recusandae quos repellat reprehenderit.</p>
  <p class="text-xs">Número de clientes  @if (duration() > 0) {
    <app-counter [duration]="duration()" [message]="message()" />
  }</p>
  <div>
    <app-wave-audio audioUrl="assets/audio.mp3" />
  </div>
</div>

